{
  "presets": [
    [
      "env",
      {
        "targets": { "node": "6"}
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion",
          {
            "hoist": true
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true,
            "autoLabel": true
          }
        ]
      ]
    }
  }
}
